<div class="side">
<div class="container">
    <h2>الجهات التي تم تقديم خدمات التدريب لديه</h2>
  <!-- <div class="slider"> -->
    <!-- <div class="slide-track">
      <div class="slide" *ngFor="let slide of data">
        <img [src]="slide.image" alt="">
      </div>

    </div> -->
    <ng-image-slider
    [showArrow]="false"
    [slideImage]="1"
    [infinite]="true"
    [imagePopup]="false"
    [images]="data"
    [id]="data.id"
    [imageSize]="{ height: '90px', space: 20}"
    #nav>
    <!-- [autoSlide]="1" -->

  </ng-image-slider>    <!-- <button (click)="prevImageClick()">Prev</button>
          <button (click)="nextImageClick()">Next</button> -->
  <!-- </div> -->
  </div>

</div>




